/*
 * Empty Stylesheet file.
 */
.button{
    
    /*-fx-background-radius: 22;*/
    -fx-font-weight:bold;
    -fx-background-color:  #00BCD4;
    -fx-font-size:14;
    -fx-text-fill: white;
}
.button:hover{
    /*-fx-background-radius: 22;*/
    -fx-font-weight:bold;
    -fx-background-color: white;
    -fx-font-size:14;
    -fx-text-fill:  #00BCD4;
    /*-fx-border-color:#2196f3;*/
    -fx-border-radius: 20;
    -fx-border-width: 3;
    
}

.button:pressed{
    /*-fx-background-radius: 22;*/
    -fx-font-weight:bold;
    -fx-background-color: white;
    -fx-font-size:14;
    -fx-text-fill:  #00BCD4;
    /*-fx-border-color:#2196f3;*/
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-rotate:20;
}